html,body{
    min-height: 100%;
    text-align: center;
}
  
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
  
header{
    position: relative;
    padding: 5%;
    background-color: #1b9e09;
}
  
 body
  section{
    color: white;
    text-align: left;
}
  
article{
    color: white;
}
  
article
  div{
    text-align: right;
}

article
  h2{
    text-align: left;
    margin: 0%;
    padding-top: 0%;
}

article
  p{
    text-align: left;
}

body
  p{
    color: white;
}
  
nav{
    color:white;
}
  
footer{
    margin-top: 100%;
    padding: 3%;
    text-align: center;
    color: white;
    background-color: #1b9e09;
}