html,body{
  min-height: 100%;
  text-align: center;
}

body{
  padding: 0;
  margin: 0;
  background-color: black;
}

header{
  position: relative;
  padding: 3%;
  background-color: #1b9e09;
}

body
section{
  color: white;
  text-align: left;
}

article{
  color: white;
}

body
p{
  color: white;
}

nav{
  color:white;
}

footer{
  margin-top: 100%;
  padding: 3%;
  text-align: center;
  color: white;
  background-color: #1b9e09;
}