*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
width: 100%;
height: 100px;
align-content: center;
text-align: center;
}

/* body */


/* sobre */


/* redes sociais */



/* botão-1 */



/* projetos */


/* contatos */



/* footer */

footer{
    width: 100%;
    height: 100px;
    text-align: center;
    align-content: center;
}
