*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(5, 19, 66);
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    display: fixed;
    align-content: center;
    height: 80px;
    background-color: white;
}

.logo{
    text-align:center;
    padding: 0rem;
    margin: 0rem;
}

.content-1{
    padding: 5rem;
    margin: 2rem;
}

.sobre{
    text-align: left;
    padding: 10px 0px;
    margin: 5px;
}

.sobre h1{
    text-align: left;
    color:  rgb(81,247,225);
    font-size: 30pt;
    padding: 25px;
    margin: 0px;
}

.sobre h2{
    color:  rgb(255, 255, 255);
    text-indent: 15px;
    font-size: 25pt;
    padding: 20px;
    margin: 0px;
}

.sobre p{
    text-align: left;
    color:  rgb(255, 255, 255);
    font-size: 20pt;
    padding: 20px;
    letter-spacing: 1px;
    margin: 0px;
}

.perfil-photo{
    display: flex;
     float: inline-start;
     align-content: center;
     padding: 15px 45px;
     margin: 0px;
}

.perfil-photo img{
    border: 1px hidden transparent;
    border-radius: 50ch;
    box-shadow: 0px 0px 15px 0px rgb(3, 17, 63);
}


.redes{
   padding: 1rem;
   margin: 0rem;
}

.redes-itens{
    padding: 20px;
    margin: 0px;
}

.redes h2{
    text-align: left;
    color: rgb(81,247,225);
    font-size: 17pt;
    padding: 5px;
    margin: 0px;
}

.redes ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin: 0px;
}

.redes p{
    color: #ffffff;
    font-size: 15pt;
    padding: 5px;
    margin: 0px;
}

.redes a{
    text-decoration: none;
}

.redes a :hover{
    transition: 0s;
    color: rgb(36, 146, 236, 0.877);
}

.saiba-itens{
   float: inline-start;
   padding: 25px 0px;
   margin: 0px;
}

.saiba button{
    padding: 10px 35px;
    margin: 0px;
    border: 1px hidden transparent;
    border-radius: 25px;
    background-color: rgba(36, 146, 236, 0.877);
    align-content: center;
}

.saiba button:hover{
    transition: 0s;
    background-color:rgb(7,125,155); 
}

.saiba button a{
    text-decoration: none;
    color: #ffffff;
}

.saiba button p{
    font-size: 13pt;
    text-align: center;
}

.content-2{
    padding: 2rem;
    margin: 0rem;
}

.projetos{
     float: right;
     padding: 10px;
     margin: 0px;
}

.projetos h1{
    text-align: left;
    color: rgb(81,247,225);
    font-size: 30pt;
    padding: 25px;
    margin: 0px;
}

.portfolio{
    display: flex;
    float: right;
    flex-direction: row;
    align-content: center;
    padding: 10px;
    margin: 5px;
}

.item-1{
    padding: 20px;
    margin: 5px;
}

.item-1 img{
    width: 100px;
    height: 45px;
}

.item-1 h3{
    padding: 5px;
    font-size: 25px;
    color: black;
}

.item-1 p{
    padding: 5px;
    font-size: 20px;
    color: black;
}

.item-1{
    border: 1px hidden #ffffff;
    border-radius: 15px;
    background-color: darkgray;
    padding: 25px;
    margin: 2px;
}


.item-2{
    padding: 20px;
    margin: 5px;
}

.item-2 img{
    width: 100px;
    height: 45px;
}

.item-2 h3{
    padding: 5px;
    font-size: 25px;
    color: black;
}

.item-2 p{
    padding: 5px;
    font-size: 20px;
    color: black;
}


.item-2{
    border: 1px hidden #ffffff;
    border-radius: 15px;
    background-color: darkgray;
    padding: 25px;
    margin: 2px;
}

.item-3{
    padding: 20px;
    margin: 5px;
}

.item-3 img{
    width: 100px;
    height: 45px;
}

.item-3 h3{
    padding: 5px;
    font-size: 25px;
    color: black;
}

.item-3 p{
    padding: 5px;
    font-size: 20px;
    color: black;
}



.item-3{
    border: 1px hidden #ffffff;
    border-radius: 15px;
    background-color: darkgray;
    padding: 25px;
    margin: 2px;
}



footer{
    width: 100%;
    height: 80px;
    align-content: center;
    color:  rgb(5, 19, 66);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12pt;
}


