*{
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:orangered;
}

header{
    display: flex;
    margin: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.botoes{
    padding: 0px 50px;
    margin: 0px;
}

.botoes button{
    padding: 10px 35px;
    margin: 5px;
    border: 1px solid;
    border-radius: 8px;
    border-color: orange;
    background-color: transparent;
    align-items: center;
    color: black;
}

main{
    margin: 20px;
    padding: 15px 30px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    align-content: center;
    background-color:rgb(255, 115, 0) ;
}

.perfil{
    display: flex;
    padding: 15px 50px;
    margin: 0px;
    align-items: center;
    background-color: ;
    justify-content: center;
}

.perfil h1{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.perfil h2{
    color: rgb(255, 255, 255);
    text-indent: 10px;
}

.perfil p{
    color: white;
    text-indent: 5px;
}

.perfil img{
    padding: 5px;
    border: 1px hidden;
    border-radius: 10px 50px 25px 50px;
    box-shadow: 20px 10px orangered;
}

.linguagens{
   padding: 0px 25px;
   margin: 5px;
   justify-content: center;
}

.projetos{
    margin: 20px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid orange;
    border-radius: 8px;
}

.projetos h2{
    text-align: center;
    font-size: 35px;
    color: orange;
}

.container-projetos{
    display: flex;
    text-align: center;
    margin: 0px;
    justify-content: center;
}

.card-projetos{
    margin: 10px;
    padding: 10px;
    align-items: start;
    border: 1px solid;
    border-radius: 10px;
    border-color: orange;
}

.card-projetos p{
    text-align: center;
}

.card-projetos button{
    margin: 15px 0px;
    padding: 10px 45px;
    border: 1px hidden;
    border-radius: 8px;
    background-color: orange;
    align-items: center;
    color: white;
}

.contato{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
    color: white;
    background-color: rgb(255, 115, 0);
    align-items: center;
    justify-content: center;
}

.contato button{
    margin: 15px 0px;
    padding: 15px 55px;
    border: 1px hidden;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: white;
}

footer{
  display: flex;
  flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}

.social-media h3{
    padding: 0px 5px;
    text-align: left;
}

.links img{
    margin: 1px;
    padding: 0px 2px 15px 0px;
}

footer p{
    margin: 0px;
    color: rgb(0, 0, 0);
}