*{
  overflow-x: hidden;
  box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgb(255, 255, 255);
}

header{
    display: flex;
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: left;
}

.botoes{
    padding: 0px 50px;
    margin: 0px;
    align-items: center;
}

.botoes button{
    padding: 10px 55px;
    margin: 5px;
    border: 1px hidden;
    border-radius: 8px;
    background-color: orangered;
    align-items: center;
    color: rgb(255, 255, 255);
   font-size: 20px;
}

main{
    margin: 80px 0px 0px 0px;
    padding: 5px;
    align-items: center;
}

.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
     background-color:rgb(255, 132, 31);
}

.perfil h1{
    padding: 0px 30px;
    color: rgb(255, 255, 255);
}

.perfil h2{
    padding: 0px 35px;
    color: rgb(255, 255, 255);
    text-indent: 5px;
}

.perfil p{
    padding: 0px 35px;
    color: rgb(255, 255, 255);
    text-indent: 5px;
}
.perfil img{
    padding: 5px;
    border: 1px hidden;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 20px 40px 0px 0px orangered;
}

.linguagens{
   padding: 0px 5px;
   margin: 5px;
   justify-content: left;
}

.projetos h2{
    text-align: center;
    font-size: 35px;
    color: orangered;
}

.container-projetos{
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 20px;
    justify-content: center;
    background-color: white;
}

.card-projetos{
    margin: 10px 5px;
    padding: 20px;
    align-items: center;
    border: 1px hidden;
    border-radius: 8px;
    justify-content: center;
    background-color:rgb(255, 132, 31);
}

.card-projetos p{
    text-align: center;
}

.card-projetos button{
    margin: 10px 0px;
    padding: 5px 45px;
    border: 1px hidden;
    border-radius: 8px;
    background-color: orangered;
    align-items: center;
    color: white;
}

.contato{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
    color: white;
    border-radius: 5px 70px 5px 70px;
    background-color:rgb(255, 132, 31);
    align-items: center;
}

.contato button{
    margin: 5px 0px;
    padding: 10px 15px;
    border: 1px hidden;
    border-radius: 8px;
    background-color: orangered;
    align-items: center;
    color: white;
}

.social-media{
    display: flex;
    flex-direction: row;
    margin: 0px 7px;
    padding: 5px;
    align-items: center;
}

.social-media h3{
    padding: 0px 15px;
    text-align: left;
}

footer{
  display: flex;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    align-items: center;
    overflow-x: hidden;
}

footer p{
    margin: 0px;
    color: rgb(0, 0, 0);
}