
body{
    display: flexbox;
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
}

header{
    display: flex;
    padding: 10px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    justify-content: left;
}

nav{
    margin: 0px;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.botoes button{
    margin: 0px 5px;
    padding: 12px 20px;
    color: #ffffff;
    font-size: small;
    border: hidden;
    background-color: #ff5307;
    border-radius: 10px;
    align-items: center;
}

.botoes button:hover{
     transform: scale(1.2);
}

main{
    display: flex;
    margin: 0;
    padding: 20px;
    color:#ffffff;
    background-color: #ffffff;
    justify-content: center;
}

.sobre-container h1{
    margin: 0px;
    padding: 25px 0px;
    text-align:left;
    align-self: center;
    color: #ff5307;
}

.sobre-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    gap: 70px;
    justify-content: center;
}

.sobre-container img{
    width: 150px;
    height: auto;
    border-radius: 40px 40px 100px 0px;
    border: 5px solid #ff5307;
}

.projetos{
    display: grid;
    margin: 0px 0px;
    padding: 12px 20px;
    color: #ffffff;
    font-size: medium;
    background-color: #ff5307;
    align-items: center;
}

.projetos h2{
     font-size: 30px;
     color: #ffffff;
     text-align: center;
}

.container-projetos{
    display: flex;
    padding: 20px 0px;
    gap: 30px;
    justify-content: center;
}

.card-projetos{
    padding: 25px;
    color: #000000;
    border: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    justify-content: center;
}

.card-projetos img{
    width: 100%;
    height: auto;
    justify-content: center;
}

.container-projetos button{
    margin: 5px 0px;
    padding: 10px 25px;
    color: #ffffff;
    border: none;
    background-color: #ff5307;
    border-radius: 10px;
    justify-content: center;
}

.projetos button:hover{
     transform: scale(1.1);
}

.contato{
    margin: 0;
    padding: 20px;
    color: #ff5307;
    background-color: #ffffff;
    justify-content: center;
}

.contato-container h2{
    padding: 5px 20px;
    font-size: 30px;
    text-align: left;
}

.contato-container h3{
    font-size: 5px 20px;
    text-align: center;
}

.contato-container button{
    margin: 5px 0px;
    padding: 15px 10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    border: none;
    background-color: #ff5307;
    border-radius: 10px;
}

.contato-container button:hover{
     transform: scale(1.1);
}

.social-media{
    display: flex;
    padding: 5px 20px;
    gap: 15px;
    justify-content: right;
}

.links-container{
    gap: 5px;
    align-self: center;
}

.social-media h3{
    font-size: 25px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    gap: 0px 15px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

footer p{
    font-size: 20px;
}

footer img{
    justify-content: center;
}